
<!DOCTYPE html>
<html>
<head>
<body>

<style>
/* Main carousel style */
.carousel {
    width: 100%;
}

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}
</style>
 <img src="http://www.clipartkid.com/images/44/clipartbest-com-2JDmK0-clipart.jpeg" class="img-fluid" alt="Responsive image"  width="10%" height="5%" ">

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Hello</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h1>
                                    <strong>Shaun of The Dead</strong>
                                </h1>
                                
                               
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                             <img src="http://static.rogerebert.com/uploads/movie/movie_poster/shaun-of-the-dead-2004/large_ssY4EvRvufUZooNq1buRUrW7lCX.jpg" class="img-fluid" alt="Responsive image"  width="30%" height="70%" ">

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>2004</strong>
                                </h4>
                                <p> Director: Edgar Wright</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>IMDB Rating</strong>
                                </h4>
                                <p>8.0</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
	
	
<div class="carousel slide article-slide" id="article-photo-carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner cont-slider">

    <div class="item active">
      <img alt="" title="" src="http://cdn.collider.com/wp-content/uploads/2014/10/shaun-of-the-dead-nick-frost-simon-pegg.jpg">
    </div>
    <div class="item">
      <img alt="" title="" src="http://www.gablescinema.com/media/filmassets/slides/shaun_of_the_dead_5.jpg">
    </div>
    <div class="item">
      <img alt="" title="" src="http://gatewayfilmcenter.org/wp-content/uploads/2014/12/Shaun-of-the-Dead.jpg">
    </div>
  </div>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li class="active" data-slide-to="0" data-target="#article-photo-carousel">
      <img alt="" src="http://cdn.collider.com/wp-content/uploads/2014/10/shaun-of-the-dead-nick-frost-simon-pegg.jpg">
    </li>
    <li class="" data-slide-to="1" data-target="#article-photo-carousel">
      <img alt="" src="http://www.gablescinema.com/media/filmassets/slides/shaun_of_the_dead_5.jpg">
    </li>
    <li class="" data-slide-to="2" data-target="#article-photo-carousel">
      <img alt="" src="http://gatewayfilmcenter.org/wp-content/uploads/2014/12/Shaun-of-the-Dead.jpg">
    </li>
    
  </ol>
</div>

   <br>
   <br>
   <div style="float:left;width:300px;">
<iframe width="560" height="315" src="https://www.youtube.com/embed/LIfcaZ4pC-4" frameborder="0" allowfullscreen></iframe>
</div>

<div style="float:right;width:50%;">
<h3>It's often said that the true character of a man is only revealed in times of dire crisis, and for likable, lovelorn loser Shaun (Simon Pegg), 
that moment of reckoning came when the dead rose from their slumber to feast on the flesh of the living. A hapless electronics store employee who 
spends most of his spare time downing pints at the local pub with his roommate, Ed (Nick Frost), Shaun's life seems to fall apart when he is dumped by 
his girlfriend, Liz (Kate Ashfield), and his obnoxious stepfather, Philip (Bill Nighy), shows up to berate him for not being more attentive to his caring</h3>
</div>

<div style="clear:both"></div>
<h3>
 mother Barbara (Penelope Wilton) -- especially since he forgot to send flowers for her birthday. Things take a turn for the worse when the dead return to stake 
 their claim on the Earth, and though the chaos that follows threatens to swallow up all of England, it's up to Shaun to keep his cool and prove himself once and for all
 by successfully rescuing Liz and his mother. With his trusty roommate by his side, nothing -- not even the living dead -- can stand between Shaun and the two most important 
 women in his life. ~ Jason Buchanan, Rovi
 </h3>



</body>
</html>